<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>771013519628-egd05es9uq110de96v4bt9e8mhc7t21u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.771013519628-egd05es9uq110de96v4bt9e8mhc7t21u</string>
	<key>API_KEY</key>
	<string>AIzaSyASrRtJx7t97TIac1XcEfTmwa22t8Q3P4s</string>
	<key>GCM_SENDER_ID</key>
	<string>771013519628</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.steven.kwan</string>
	<key>PROJECT_ID</key>
	<string>chatapp-939ac</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-939ac.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:771013519628:ios:53a8e6e08a9eea02600129</string>
</dict>
</plist>